@using BasicFrontend.Umbraco.Controllers

@model BasicFrontend.Umbraco.Models.ContactViewModel

@using (Html.BeginUmbracoForm<ContactSurfaceController>("CreateContactMessage"))
{

    if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary(true, "Houston, we have a problem. Check things over and try again.")
    }

    <fieldset>
        <div class="row">
            <div class="large-12 columns">
            </div>
        </div>

        <div class="row">
            <div class="">
                @Html.LabelFor(x => x.Name)<span class="required">*</span>
                @Html.TextBoxFor(x => x.Name, new Dictionary<string, Object> { { "required", "" } })
                <small class="error">Your name is required.</small>
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>

        <div class="row">
            <div class="">
                @Html.LabelFor(x => x.EmailAddress)<span class="required">*</span>
                @Html.TextBoxFor(x => x.EmailAddress, new Dictionary<string, Object> { { "required", "" }, { "pattern", "email" } })
                <small class="error">A valid email address is required.</small>
                @Html.ValidationMessageFor(x => x.EmailAddress)
            </div>
        </div>

        <div class="row">
            <div class="">
                @Html.LabelFor(x => x.Message)<span class="required">*</span>
                @Html.TextAreaFor(x => x.Message, new Dictionary<string, Object> { { "required", "" }, { "rows", "5" } })
                <small class="error">Don't forget to enter a message.</small>
                @Html.ValidationMessageFor(x => x.Message)
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="large-12 columns">
            <input type="submit" class="button" value="Submit" />
        </div>
    </div>

}