@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using System.Web.Mvc;

@{
    Layout = null;

    var homePage = Model.Content.AncestorOrSelf(1);
    var configPage = homePage.Descendant<SiteGlobal>();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="page-topic" content="@configPage.MetaPageTopic">
    <meta name="robots" content="@configPage.MetaRobots">
    <meta name="revisit-after" content="@configPage.MetaRevisitAfter">
    <meta name="audience" content="@configPage.MetaAudience">

    <meta http-equiv="cache-control" content="@configPage.MetaCache">
    <meta http-equiv="pragma" content="@configPage.MetaPragma">

    <meta name="msvalidate.01" content="1D150EFBAA80F83F5DB962EEEC207A71" />

    <meta name="description" content="@Umbraco.Field("introduction")">
    <meta name="keywords" content="@configPage.MetaKeywords">
    <meta name="author" content="@configPage.SiteAuthor">

    <link rel="icon" href="/icon.png">

    <title>@Umbraco.Field("title") | @configPage.SiteAuthor | @configPage.SiteTitle</title>


    <!--[if lte IE 8]><script src="@Url.Content("~/Frontend/Ie/html5shiv.js")"></script><![endif]-->
    <!-- CSS -->

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Frontend/bundle.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Frontend/custom.min.css")">

    <!--[if lte IE 9]><link rel="stylesheet" href="@Url.Content("~/Frontend/Ie/v9.css")" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="@Url.Content("~/Frontend/Ie/v8.css")" /><![endif]-->


</head>
<body class="@Umbraco.Field("pageType")">

    <div id="page-wrapper">

        <header id="header" class="@Umbraco.Field("headerType")">
            @Html.Partial("Header")
        </header>

        @RenderBody()

        <footer id="footer">
            @Html.Partial("Footer")
        </footer>

    </div>

    <script src="@Url.Content("~/Frontend/app.min.js")" type="text/javascript"></script>

</body>
</html>