@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>

@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "_Layout.cshtml";
    var pageStyle = @Umbraco.Field("pageStyle");
}

<article id="main">
    <header class="@pageStyle">
        <h2>@Umbraco.Field("headline")</h2>
        <p>@Html.Raw(Umbraco.Field("paragraph"))</p>
    </header>
    @{
        <section class="@pageStyle">
            @Html.GetGridHtml(Model.Content, "gridLayout", "bootstrap3-fluid")
        </section>
    }
</article>
