@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArchiveList>

@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "_Layout.cshtml";
    var pageStyle = @Umbraco.Field("pageStyle");
}


<article id="main">

    <header class="@pageStyle">
        <h2>@Umbraco.Field("headline")</h2>
        <p>@Html.Raw(Umbraco.Field("paragraph"))</p>
    </header>

    <section class="@pageStyle">
        <div class="container">

            <div id="admin-header">

            </div>

            <div id="main-content">

                <div class="row clearfix">
                    <div class="col-md-12">
                        <h3>Index h2 header</h3>
                        <p class="lead">Index p lead</p>
                        <div>Searchbar</div>
                        <div class="tooltip_top">

                            <div class="rowconfig">
                                <div data-tooltip-content="#458343" class="tooltipster">
                                    &#171;Tour de Sol&#187; – als die selbstgebastelten Solarmobile das Schweizer Publikum begeisterten
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458343" class="tooltip_inner">
                                        <h3>«Tour de Sol» – als die selbstgebastelten Solarmobile das Schweizer Publikum begeisterten</h3>
                                        <hr />
                                        <p class="lead">Vor 25 Jahren startete in Luzern die 9. und letzte Etappe der «Tour de Sol». Sie war das weltweit erste Rennen für Solarfahrzeuge und setzte den Grundstein zur modernen Solar-Technik.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/mobilitaet/bildstrecke/tour-de-sol-als-die-selbstgebastelten-solarmobile-das-schweizer-publikum-begeisterten-ld.1397335" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/panorama.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="rowconfig">
                                <div data-tooltip-content="#458342" class="tooltipster">
                                    &#171;Salvator Mundi&#187; ist ab September im Louvre Abu Dhabi zu sehen
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458342" class="tooltip_inner">
                                        <h3>«Salvator Mundi» ist ab September im Louvre Abu Dhabi zu sehen</h3>
                                        <hr />
                                        <p class="lead">Im vergangenen Jahr wurde Leonardo da Vincis Gemälde für 450 Millionen Dollar versteigert. Bald kann auch die Öffentlichkeit das Werk geniessen.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/panorama/salvator-mundi-ist-ab-september-im-louvre-abu-dhabi-zu-sehen-ld.1398712" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/panorama.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458341" class="tooltipster">
                                    Bei Direktfl&#252;gen in die USA ist nur noch wenig Pulver im Handgep&#228;ck erlaubt
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458341" class="tooltip_inner">
                                        <h3>Bei Direktflügen in die USA ist nur noch wenig Pulver im Handgepäck erlaubt</h3>
                                        <hr />
                                        <p class="lead">Bei Direktflügen in die USA ist nur noch wenig Pulver im Handgepäck erlaubt</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/panorama/bei-direktfluegen-in-die-usa-ist-nur-noch-wenig-pulver-im-handgepaeck-erlaubt-ld.1398678" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/panorama.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458340" class="tooltipster">
                                    Ein Grossbrand zerst&#246;rt ein S&#228;gewerk in Bulle
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458340" class="tooltip_inner">
                                        <h3>Ein Grossbrand zerstört ein Sägewerk in Bulle</h3>
                                        <hr />
                                        <p class="lead">Ein Grossbrand zerstört ein Sägewerk in Bulle</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/panorama/ein-grossbrand-zerstoert-ein-saegewerk-in-bulle-ld.1398877" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/panorama.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458339" class="tooltipster">
                                    Ed&#160;Sheeran tritt nun in Gelsenkirchen statt in D&#252;sseldorf auf
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458339" class="tooltip_inner">
                                        <h3>Ed Sheeran tritt nun in Gelsenkirchen statt in Düsseldorf auf</h3>
                                        <hr />
                                        <p class="lead">Der Düsseldorfer Stadtrat verwehrt nach langem Ringen die Genehmigung für ein Ed-Sheeran-Konzert in der Landeshauptstadt von Nordrhein-Westfalen. Der englische Pop-Star tritt nun in Gelsenkirchen auf – und das gleich zweimal.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/panorama/ed-sheeran-tritt-nun-in-gelsenkirchen-statt-in-duesseldorf-auf-ld.1398873" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/panorama.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458338" class="tooltipster">
                                    Vater von Michael Jackson mit 89 Jahren gestorben
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458338" class="tooltip_inner">
                                        <h3>Vater von Michael Jackson mit 89 Jahren gestorben</h3>
                                        <hr />
                                        <p class="lead">Joe Jackson, der Vater des legendären Popstars Michael Jackson, ist tot. Das bestätigten Familienmitglieder am Mittwoch.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/panorama/vater-von-michael-jackson-mit-89-jahren-gestorben-ld.1398835" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/panorama.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458337" class="tooltipster">
                                    Apple und Samsung legen ihren jahrelangen Patentstreit bei
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458337" class="tooltip_inner">
                                        <h3>Apple und Samsung legen ihren jahrelangen Patentstreit bei</h3>
                                        <hr />
                                        <p class="lead">Dieser Patentstreit hat die Anfänge der Smartphone-Ära mitgeprägt: Apple warf Samsung vor, das iPhone zu kopieren. Der kalifornische Konzern bekam vor Gericht zwar viel Geld zugesprochen, konnte aber den Aufstieg von Samsung nicht stoppen. Jetzt gab es schliesslich eine Einigung.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/wirtschaft/apple-und-samsung-legen-ihren-jahrelangen-patentstreit-bei-ld.1398872" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458336" class="tooltipster">
                                    US-Kartellw&#228;chter genehmigen die m&#246;gliche Fusion von Disney und Fox
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458336" class="tooltip_inner">
                                        <h3>US-Kartellwächter genehmigen die mögliche Fusion von Disney und Fox</h3>
                                        <hr />
                                        <p class="lead">Das US-Justizministerium hat dem möglichen Kauf von grossen Teilen des Medienimperiums 21st Century Fox durch Disney unter Auflagen zugestimmt. Dadurch steigt der Druck auf den Mitbieter Comcast.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/wirtschaft/us-kartellwaechter-genehmigen-die-moegliche-fusion-von-disney-und-fox-ld.1398875" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458335" class="tooltipster">
                                    In Norwegen droht ein &#171;Biermangel&#187;
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458335" class="tooltip_inner">
                                        <h3>In Norwegen droht ein «Biermangel»</h3>
                                        <hr />
                                        <p class="lead">In Norwegen droht ein «Biermangel»</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/wirtschaft/in-norwegen-droht-ein-biermangel-ld.1398881" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458334" class="tooltipster">
                                    H&amp;M mit Gewinneinbruch im zweiten Quartal
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458334" class="tooltip_inner">
                                        <h3>H&M mit Gewinneinbruch im zweiten Quartal</h3>
                                        <hr />
                                        <p class="lead">H&M mit Gewinneinbruch im zweiten Quartal</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/wirtschaft/hm-mit-gewinneinbruch-im-zweiten-quartal-ld.1398903" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458333" class="tooltipster">
                                    PSP Swiss Property reduziert Leerstand mit Verkauf eines Genfer B&#252;rohauses
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458333" class="tooltip_inner">
                                        <h3>PSP Swiss Property reduziert Leerstand mit Verkauf eines Genfer Bürohauses</h3>
                                        <hr />
                                        <p class="lead">PSP Swiss Property reduziert Leerstand mit Verkauf eines Genfer Bürohauses</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/wirtschaft/psp-swiss-property-reduziert-leerstand-mit-verkauf-eines-genfer-buerohauses-ld.1398906" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458332" class="tooltipster">
                                    Als ein Journalist vor 30 Jahren den Deutschen Aktienindex erfand
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458332" class="tooltip_inner">
                                        <h3>Als ein Journalist vor 30 Jahren den Deutschen Aktienindex erfand</h3>
                                        <hr />
                                        <p class="lead">Anfang Juli feiert der DAX sein 30-jähriges Bestehen. Seit dem Start 1988 bei 1164 Punkten hat sich der Wert trotz zahlreichen Rückschlägen verzehnfacht. Das Rekordhoch datiert vom Januar 2018. Dennoch fremdeln die Deutschen mit der Aktie.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen/als-ein-journalist-vor-30-jahren-den-deutschen-aktienindex-erfand-ld.1398367" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458331" class="tooltipster">
                                    Oerlikon nennt Details zum B&#246;rsengang der Getriebesparte
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458331" class="tooltip_inner">
                                        <h3>Oerlikon nennt Details zum Börsengang der Getriebesparte</h3>
                                        <hr />
                                        <p class="lead">Vor wenigen Tagen gab der Industriekonzern die Pläne zum Börsengang des Getriebegeschäfts unter dem Namen Graziano-Fairfield bekannt. Nun nennt Oerlikon Details.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen/oerlikon-nennt-details-zum-boersengang-der-getriebesparte-ld.1398882" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458330" class="tooltipster">
                                    Pensionskassen mit gr&#246;sseren Risiken
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458330" class="tooltip_inner">
                                        <h3>Pensionskassen mit grösseren Risiken</h3>
                                        <hr />
                                        <p class="lead">Um ihre Umwandlungssätze zu finanzieren, müssen Schweizer Pensionskassen heute grössere Risiken eingehen als früher. Dieser Trend ist bereits zu beobachten.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen/pensionskassen-mit-groesseren-risiken-ld.1398823" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458329" class="tooltipster">
                                    Risikokapitalgeber m&#252;ssen um die Ecke schauen k&#246;nnen
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458329" class="tooltip_inner">
                                        <h3>Risikokapitalgeber müssen um die Ecke schauen können</h3>
                                        <hr />
                                        <p class="lead">Richard Kramlich ist seit fünfzig Jahren ein Venture-Capitalist und eine Legende. In diesen Segmenten sieht er noch Potenzial.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen/risikokapitalgeber-muessen-um-die-ecke-schauen-koennen-ld.1398811" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458328" class="tooltipster">
                                    Ein wichtiger Schritt des Bundesrats: Die staatliche Ruag braucht mehr Sauerstoff
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458328" class="tooltip_inner">
                                        <h3>Ein wichtiger Schritt des Bundesrats: Die staatliche Ruag braucht mehr Sauerstoff</h3>
                                        <hr />
                                        <p class="lead">Lange hat der Bundesrat gezögert, bevor er sich für eine Aufteilung der Ruag entschieden hat. Es ist zu hoffen, dass ihn nun nicht der Mut verlässt und er sich zumindest zu einer Privatisierung des internationalen Teils durchringen kann.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/meinung/ein-wichtiger-schritt-des-bundesrats-die-staatliche-ruag-braucht-mehr-sauerstoff-ld.1398857" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/wirtschaft.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458327" class="tooltipster">
                                    Europa braucht keine neuen Geldt&#246;pfe
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458327" class="tooltip_inner">
                                        <h3>Europa braucht keine neuen Geldtöpfe</h3>
                                        <hr />
                                        <p class="lead">Frankreich und Deutschland machen sich stark für ein Euro-Zonen-Budget. Am Euro-Gipfel vom Freitag dürfte der Vorschlag aber chancenlos sein. Das ist alles andere als ein Drama.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/meinung/europa-braucht-keine-neuen-geldtoepfe-ld.1398827" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/wirtschaft.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458326" class="tooltipster">
                                    Apple und Samsung legen ihren jahrelangen Patentstreit bei
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458326" class="tooltip_inner">
                                        <h3>Apple und Samsung legen ihren jahrelangen Patentstreit bei</h3>
                                        <hr />
                                        <p class="lead">Dieser Patentstreit hat die Anfänge der Smartphone-Ära mitgeprägt: Apple warf Samsung vor, das iPhone zu kopieren. Der kalifornische Konzern bekam vor Gericht zwar viel Geld zugesprochen, konnte aber den Aufstieg von Samsung nicht stoppen. Jetzt gab es schliesslich eine Einigung.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/wirtschaft/apple-und-samsung-legen-ihren-jahrelangen-patentstreit-bei-ld.1398872" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/wirtschaft.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458325" class="tooltipster">
                                    US-Kartellw&#228;chter genehmigen die m&#246;gliche Fusion von Disney und Fox
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458325" class="tooltip_inner">
                                        <h3>US-Kartellwächter genehmigen die mögliche Fusion von Disney und Fox</h3>
                                        <hr />
                                        <p class="lead">Das US-Justizministerium hat dem möglichen Kauf von grossen Teilen des Medienimperiums 21st Century Fox durch Disney unter Auflagen zugestimmt. Dadurch steigt der Druck auf den Mitbieter Comcast.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/wirtschaft/us-kartellwaechter-genehmigen-die-moegliche-fusion-von-disney-und-fox-ld.1398875" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/wirtschaft.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="rowconfig">
                                <div data-tooltip-content="#458324" class="tooltipster">
                                    Oerlikon nennt Details zum B&#246;rsengang der Getriebesparte
                                </div>
                                <div class="tooltip_templates">
                                    <div id="458324" class="tooltip_inner">
                                        <h3>Oerlikon nennt Details zum Börsengang der Getriebesparte</h3>
                                        <hr />
                                        <p class="lead">Vor wenigen Tagen gab der Industriekonzern die Pläne zum Börsengang des Getriebegeschäfts unter dem Namen Graziano-Fairfield bekannt. Nun nennt Oerlikon Details.</p>
                                        <hr />
                                        <p>
                                            <a href="https://www.nzz.ch/finanzen/oerlikon-nennt-details-zum-boersengang-der-getriebesparte-ld.1398882" target="_blank">Deep link</a>
                                        </p>
                                        <p>
                                            <a href="https://www.nzz.ch/wirtschaft.rss" target="_blank">Source link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="admin-footer">

            </div>

        </div>
    </section>

</article>
