@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogOverview>

@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "_Layout.cshtml";

    var selection = CurrentPage.Children.Where("Visible");
}

<article id="main">
    <header>
        <h2>@Umbraco.Field("title")</h2>
        <p>@Umbraco.Field("introduction")</p>
    </header>
    @{
        var pageStyle = @Umbraco.Field("pageStyle");
        <section class="wrapper @pageStyle">
            <div class="inner">
                @if (selection.Any())
                {
                    <div class="container">
                        <section class="blogarchive equalizer">

                            @foreach (var item in selection.OrderBy("CreateDate desc"))
                            {
                                var introduction = item.GetPropertyValue("introduction").ToString();
                                var gbId = Umbraco.Media(item.GetPropertyValue("teaserImage").ToString());
                                var gbImage = gbId.Url;
                                var blogStyle = item.GetPropertyValue("pageStyle").ToString();

                                <div class="col-sm-12 col-md-6 equal">
                                    <div class="@blogStyle">
                                        <a href="@item.Url" style="background-image: url('@gbImage'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                            <div class="date">@item.CreateDate.ToLongDateString()</div>
                                            <h2>@item.GetPropertyValue("title")</h2>
                                            <p class="lead">@Umbraco.Truncate(introduction, 90, true)</p>
                                            <p class="small">@item.CreatorName</p>
                                        </a>
                                    </div>
                                </div>
                            }
                        </section>
                    </div>
                    <div class="clearfix"></div>
                }
            </div>
        </section>
    }
</article>