@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<LandingPage>

@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "_Layout.cshtml";
    var pageStyle = @Umbraco.Field("pageStyle");
}

<section id="banner">
    <div class="@pageStyle">
        <h2>@Umbraco.Field("bannerHeadline")</h2>
        <p>@Html.Raw(Umbraco.Field("bannerParagraph"))</p>
        @{
            var url = Umbraco.Field("bannerCTAUrl").ToString();
            if (!string.IsNullOrEmpty(url))
            {
                <ul class="actions">
                    <li><a href="@url" class="button fit special">@Umbraco.Field("bannerCTAText")</a></li>
                </ul>
            }
        }
    </div>
    @{
        var idToCall = Umbraco.Field("idToCall").ToString();
        if (!string.IsNullOrEmpty(idToCall))
        {
            <a href="#@idToCall" class="more scrolly">weiter</a>
        }
    }
</section>

@{
    <div class="alt @pageStyle">
        @Html.GetGridHtml(Model.Content, "gridLayout", "bootstrap3-fluid")
    </div>
}
