@using System.Web.UI.WebControls
@using BasicFrontend.Application

@{
    var appBase = AppBase.Instance;
    var bodyClass = ViewBag.BodyClass;
    var headerClass = ViewBag.HeaderClass;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="page-topic" content="News">
    <meta name="robots" content="index,follow">
    <meta name="revisit-after" content="3 days">
    <meta name="audience" content="Informatiker">
    <meta name="description" content="Technologien unterstützen die Effizienz und den Komfort einer Lösung">
    <meta name="keywords" content=".NET, C#, Development, Entwicklung, Datenbank, Oracle, MSSQL, MYSQL, Mobile, CMS, Content, Management, System, Mobile, Responsive">
    <meta name="author" content="responsive kaysta">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="icon" href="">
    <title>BasicFrontend | responsive kaysta | mobile first!</title>

    <!--[if lte IE 8]><script src="@Url.Content("~/Frontend/Css/Ie/html5shiv.js")"></script><![endif]-->
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Frontend/fontawesome-all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bundle.min.css")">

    <!--[if lte IE 9]><link rel="stylesheet" href="@Url.Content("~/Frontend/Css/Ie/v9.css")" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="@Url.Content("~/Frontend/Css/Ie/v8.css")" /><![endif]-->

</head>
<body class="@bodyClass">

    <div id="page-wrapper">

        <header id="header" class="@headerClass">
            @Html.Partial("Header")
        </header>

        @RenderBody()

        <footer id="footer">
            @Html.Partial("Footer")
        </footer>

    </div>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app.min.js")"></script>

</body>
</html>