@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogPost>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Layout.cshtml";
    var pageStyle = @Umbraco.Field("pageStyle");
}

<article id="main">
    <header class="@pageStyle">
        <h2>@Umbraco.Field("title")</h2>
        <p>@Html.Raw(Umbraco.Field("introduction"))</p>
    </header>
    @{
        <section class="@pageStyle">
            <div class="inner">
                <div class="container">
                    @Html.GetGridHtml(Model.Content, "gridLayout", "bootstrap3-fluid")
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <hr />
                            <p>Autor: @Umbraco.Field("creatorName")</p>
                            <p>Published/Updated: @Umbraco.Field("updateDate")</p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</article>